
<html lang="es">
    <head>
            <title>Ubuntu</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>
        <form method="POST">
            <div class="container-fluid" style=" background-color:#FF5733 ;">
            <div class="jumbotron text-center">
              
                <h1>¿Que es Ubuntu?</h1>
                <br>
                <div class="container">
                    <p>Ubuntu es uno de los sistemas operativos basados en Linux más utilizado en la actualidad, algo que ha conseguido gracias a su rendimiento, a la posibilidad de descargarse gratis y tratarse de software libre que cualquiera puede modificar para mejorar su código, algo que ha propiciado la aparición de otros entornos gráficos como Kubuntu o Xubuntu entre muchos otros.  </p>
                    <p>Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución. Con Docker, puede implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la certeza de saber que su código se ejecutará.</p>
                <h2>Por qué usar Ubuntu</h2>  
                    <p>Hay muchas razones para usar Ubuntu Linux que lo convierten en una distribución de Linux digna. Además de ser gratuito y de código abierto, es altamente personalizable y tiene un Centro de software lleno de aplicaciones. Existen numerosas distribuciones de Linux diseñadas para satisfacer diferentes necesidades.</p>
                    <br>
                </div>
                <div align="center"></div> <img src="https://seeklogo.com/images/U/ubuntu-logo-8FDEC6A07B-seeklogo.com.png" width="400px" height="400px"></div>
                <br>
            </div> 
        </div>   
        </form>
    </body>
</html>
